<gis-navbar></gis-navbar>
<div class="container">
<div class="row">
</div>
	<div class="row">
		<div class="col-md-5">
			<leaflet id="map1" width="100%" height="480px" markers="vm.markers1"></leaflet>
		</div>
		<div class="col-md-5">
			<leaflet id="map2" width="100%" height="480px" markers="vm.markers2"></leaflet>
		</div>
		<div class="col-md-2">
			<uib-accordion>
			
				<uib-accordion-group heading="Marker{{markerPair.markerPairId}}" ng-repeat="markerPair in vm.markerPairList" ng-click="vm.highLightMarker($index+1)">
					marker1: {{markerPair.marker1.lat | number: 2}}, {{markerPair.marker1.lng | number:2}} <br>
					marker1: {{markerPair.marker2.lat | number: 2}}, {{markerPair.marker2.lng | number:2}}
				</uib-accordion-group>
			
			</uib-accordion>
		</div>
	</div>
	<div class="row">
		<input type="button" class="btn btn-default" ng-click="vm.sendMarker()" value="SEND">
	
	</div>

</div>
