<gis-navbar></gis-navbar>
<div class="container">
<div class="row">
</div>
	<div class="row">
		<div class="col-md-4">
			<leaflet id="map1" width="100%" height="480px" markers="vm.markers1" layers="vm.layers1" lf-center="vm.center1" defaults="vm.defaults1"></leaflet>
		</div>
		<div class="col-md-4">
			 <leaflet id="map2" width="100%" height="480px" markers="vm.markers2"  layers="vm.layers2" lf-center="vm.center2"  defaults="vm.defaults1"></leaflet>
		</div>
		<div class="col-md-4">
		
			
			<uib-accordion style="height: 250px">
			
				<uib-accordion-group heading="Selected Pair" is-open="vm.status.open">
					marker1: {{vm.selectedPair.marker1.lat | number: 6}}, {{vm.selectedPair.marker1.lng | number:6}} <br>
					marker2: {{vm.selectedPair.marker2.lat | number: 6}}, {{vm.selectedPair.marker2.lng | number:6}}
				</uib-accordion-group>
			
			</uib-accordion>
			
			
			<div class="input-group input-group-btn">
				<input type="button" class="btn btn-default" ng-click="vm.sendMarker()" value="SAVE">
				<input type="button" class="btn btn-default" ng-click="vm.removeMarker()" value="REMOVE">
				<input type="button" class="btn btn-default" ng-click="vm.runAlgorithm()" value="RUN">
				<input type="button" class="btn btn-default" ng-click="vm.getResult()" ng-if="vm.showResult" value="RESULT">
			</div>
		</div>
	</div>
	<div class="row">
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Geoserver layer
			</div>
			<div class="panel-body">
				<div class="input-group">
				<span class="input-group-addon" id="basic-addon2" >WMS</span>
					<input type="text" ng-model="vm.wmsUrl" placeholder="Geoserver url" class="form-control">
					
				</div>
				
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2" >Layer name</span>
					<input type="text" ng-model="vm.layerName" placeholder="Layer name" class="form-control">
				</div>
				<div class="input-group">
				<span class="input-group-addon" id="basic-addon2" >Layer</span>
					<input type="text" ng-model="vm.layer" placeholder="Layer" class="form-control">
					
				</div>
				<div class="center-block">
					<input type="button" class="btn btn-default" value="AddMap1" ng-click="vm.addLayer(1)">
					<input type="button" class="btn btn-default" value="AddMap2" ng-click="vm.addLayer(2)">
				</div>
			</div>
		
		
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Geoserver layer
			</div>
			<div class="panel-body">
				<div class="input-group">
					<select ng-model="vm.selectedMapFile" ng-options="mapFile.name for mapFile in vm.mapFileList" class="form-control">
					</select>
					<span class="input-group-addon" id="basic-addon2" >WMS</span>
				</div>
				
				
				<div class="center-block">
					<input type="button" class="btn btn-default" value="AddMap1" ng-click="vm.addLayer(1)">
					<input type="button" class="btn btn-default" value="AddMap2" ng-click="vm.addLayer(2)">
				</div>
			</div>
		
		
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Map center
			</div>
			<div class="panel-body">
				<div class="input-group">
				<span class="input-group-addon" id="basic-addon2" >Lat</span>
					<input type="text" ng-model="vm.centerLat" placeholder="Latitude" class="form-control">
					
				</div>
				
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2" >Lng</span>
					<input type="text" ng-model="vm.centerLng" placeholder="Longitude" class="form-control">
				</div>
				
				
				<div class="center-block">
				<div class="input-group input-group-btn">
					<input type="button" class="btn btn-default" value="Center map1" ng-click="vm.center(vm.center1)">
					<input type="button" class="btn btn-default" value="Center map2" ng-click="vm.center(vm.center2)">
				</div>
				</div>
			</div>
		
		
		</div>
	</div>
	
		
	
	</div>
	
	
	

</div>
