<gis-navbar></gis-navbar>
<div class="container">
<div class="row">
</div>
	<div class="row">
		<div class="col-md-5">
			<leaflet id="map1" width="100%" height="480px" markers="vm.markers1" layers="vm.layers" lf-center="vm.center1"></leaflet>
		</div>
		<div class="col-md-5">
			<leaflet id="map2" width="100%" height="480px" markers="vm.markers2" lf-center="vm.center2"></leaflet>
		</div>
		<div class="col-md-2">
			<uib-accordion>
			
				<uib-accordion-group heading="Marker{{markerPair.markerPairId}}" ng-repeat="markerPair in vm.markerPairList" ng-click="vm.highLightMarker($index+1)">
					marker1: {{markerPair.marker1.lat | number: 2}}, {{markerPair.marker1.lng | number:2}} <br>
					marker1: {{markerPair.marker2.lat | number: 2}}, {{markerPair.marker2.lng | number:2}}
				</uib-accordion-group>
			
			</uib-accordion>
		</div>
	</div>
	<div class="row">
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Geoserver layer
			</div>
			<div class="panel-body">
				<div class="input-group">
					<input type="text" ng-model="vm.wmsUrl" placeholder="Geoserver url" class="form-control">
					<span class="input-group-addon" id="basic-addon2" >WMS</span>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2" >Layer name</span>
					<input type="text" ng-model="vm.layerName" placeholder="Layer name" class="form-control">
				</div>
				<div class="input-group">
					<input type="text" ng-model="vm.layer" placeholder="Layer" class="form-control">
					<span class="input-group-addon" id="basic-addon2" >Layer</span>
				</div>
				<div class="center-block">
					<input type="button" class="btn btn-default" value="Add" ng-click="vm.addLayer()">
				</div>
			</div>
		
		
		</div>
	</div>
	
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Map center
			</div>
			<div class="panel-body">
				<div class="input-group">
					<input type="text" ng-model="vm.centerLat" placeholder="Latitude" class="form-control">
					<span class="input-group-addon" id="basic-addon2" >Lat</span>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2" >Lng</span>
					<input type="text" ng-model="vm.centerLng" placeholder="Longitude" class="form-control">
				</div>
				
				
				<div class="center-block">
				<div class="input-group input-group-btn">
					<input type="button" class="btn btn-default" value="Center map1" ng-click="vm.center(vm.center1)">
					<input type="button" class="btn btn-default" value="Center map2" ng-click="vm.center(vm.center2)">
				</div>
				</div>
			</div>
		
		
		</div>
	</div>
	
		
	
	</div>
	
	
	<input type="button" class="btn btn-default" ng-click="vm.sendMarker()" value="SEND">

</div>
